img {
    width: 250px;
    max-width: 90%;
}
.card-img:hover {
    width: 85%;
}

.card {
    text-wrap: wrap;
    margin: 30px;
    width: 250px;
    height: 450px;
}

.red {
    color:brown;
}

.green {
    color:green;
}

.fa-heart, .fa-circle-play {
    width: 30px;
}